.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  #60e1e170;
    flex-direction: column;
}

.text {
    font-size: 45px;
    color: rgb(22, 0, 51);
    margin-bottom: 30px;
}

.paragrafo {
    color: rgb(0, 0, 39);
    margin-bottom: 50px;
}

.btn {
    padding: 15px 55px;
    background-color: white;
    text-decoration: none;
    color: rgb(7, 0, 37);
    font-size: 18px;
    transition: 0.5s;
}

.btn:hover {
    border-radius: 16px;
}
